<tr id="<%= line_item.id %>" class="line-item">
  <td class="title"><%= line_item.product.title %></td>
  <td class="quantity">
    <%= link_to "-", line_item_path(id: line_item, params: { line_item: { quantity:line_item.quantity - 1 }}), class: 'btn-primary minus', method: :patch, remote: true  %>
    <%= line_item.quantity %>
    <%= link_to "+", line_item_path(id: line_item, params: { line_item: { quantity:line_item.quantity + 1 }}), class: 'btn-primary add', method: :patch, remote: true %> 
  </td>
  <td class="price">
    <%= number_to_currency(line_item.product.price, locale: 'zh-CN') %>
  </td>
  <td class="amount">
    <%= number_to_currency(line_item.quantity * line_item.product.price, locale: 'zh-CN') %>
  </td>
  <td class="actions">
    <%= link_to 'Delete', line_item_path(id: line_item), class: 'btn-danger', method: :delete, remote: true%>
  </td>
</tr>
