<tr id="<%= line_item.id %>" data-product="<%= line_item.product.id %>" class="line-item">
  <td class="title"><%= line_item.product.title %></td>
  <td class="quantity">
    <% if line_item.quantity == 1 %>
      <%= link_to "-", line_item_path(id: line_item), class: 'btn-primary', method: :delete, remote: true  %>
    <% else %>
      <%= link_to "-", line_item_path(id: line_item, params: { line_item: { quantity:line_item.quantity - 1 }}), class: 'btn-primary', method: :patch, remote: true  %>
    <% end %>
    <%= line_item.quantity %>
    <%= link_to "+", line_item_path(id: line_item, params: { line_item: { quantity:line_item.quantity + 1 }}), class: 'btn-primary', method: :patch, remote: true %> 
  </td>
  <td class="price">
    <%= number_to_currency(line_item.price, locale: 'zh-CN') %>
  </td>
  <td class="amount">
    <%= number_to_currency(line_item.total_price, locale: 'zh-CN') %>
  </td>
  <td class="action">
    <%= link_to 'Delete', line_item_path(id: line_item), method: :delete, class: 'btn-danger', remote: true %>
    <%= link_to "", refresh_line_item_path(id: line_item), class: 'refresh', method: :get, remote:  true %>
  </td>
</tr>