<td class="title"><%= line_item.product.title %></td>
<td class="quantity">
  <% if line_item.quantity == 1 %>
    <%= link_to "-", line_item_path(id: line_item), class: 'calculate destroy', method: :delete, remote: true  %>
  <% else %>
    <%= link_to "-", line_item_path(id: line_item, params: { line_item: { quantity:line_item.quantity - 1 }}), class: 'calculate minus', method: :patch, remote: true  %>
  <% end %>
  <%= line_item.quantity %>
  <%= link_to "+", line_item_path(id: line_item, params: { line_item: { quantity:line_item.quantity + 1 }}), class: 'calculate add', method: :patch, remote: true %> 
</td>
<td class="price">
  <%= number_to_currency(line_item.product.price, locale: 'zh-CN') %>
</td>
<td class="amount">
  <%= number_to_currency(line_item.quantity * line_item.product.price, locale: 'zh-CN') %>
</td>
<td class="action">
  <%= link_to 'Delete', line_item_path(id: line_item), method: :delete, class: 'destroy-btn', remote: true %>
</td>
