<p id="notice"><%= notice %></p>

<h1>Cart</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Amount</th>
		</tr>
	</thead>

	<tbody class="line-items">
		<% @line_items.each do |line_item| %>
			<tr class="line-item">
				<td class="title"><%= line_item.product.title %></td>
				<td class="quantity">
					<%= link_to "-", line_item_path(id: line_item, params: {line_item: {quantity:line_item.quantity - 1}}),method: :patch %>
					<%= line_item.quantity %>
					<%= link_to "+", line_item_path(id: line_item, params: {line_item: {quantity:line_item.quantity + 1}}),method: :patch %> 
				</td>
				<td class="price">
					<%= number_to_currency(line_item.product.price, locale: 'zh-CN') %>
				</td>
				<td class="amount">
					<%= number_to_currency(line_item.quantity * line_item.product.price, locale: 'zh-CN') %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="total">
	<span>
		Total:
	</span>
	<span class="price">
		<% total_price = @line_items.sum { |line_item| line_item.product.price * line_item.quantity }.to_f %>
		<%= number_to_currency(total_price, locale: 'zh-CN') %>
	</span>
</div>
