<!DOCTYPE html>
<html>
	<head>
		<title>Depot</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header class="main">
			<%= image_tag 'logo.png', alt: 'The Progmatic Bookshelf' %>
			<h1><%= @page_title %></h1>
		</header>
		<section class="content">
			<nav class="side_nav">
				<div id="cart">
					<%= render 'carts/cart', cart: @cart %>
				</div>
				<ul>
					<% if session.fetch(:counter, 0) > 5 %>
						<li class="access-count" style="color: white">
							<%= pluralize(session[:counter], "times") %>
						</li>
					<% end %>
					<li style="color: white">
						<%= Time.now.strftime("%Y/%m/%d %H:%M:%S") %>
					</li>
					<li class="cart"><%= render @cart %></li>
					<li><a href="/">Home</a></li>
					<li><a href="/questions">Questions</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
			<main class="<%= controller.controller_name %>">
				<%= yield %>
			</main>
		</section>
	</body>
</html>

